* {
    margin: auto;
}

body {
    height: 100vh;
}

.text1 {
    color: rgb(252, 214, 214);
    font-size: 3.5rem;
    text-align: center;
}

button {
    width: 100px;
    height: 100px;
    border: 0px;
    font-size: 3rem;
    font-weight: 700;
    color: currentColor;
    padding-top: 40%;
}

button:hover {
    box-shadow: 0 0 20px 0px #595757;
}

.hoverr{
    box-shadow: 0 0 20px 0px #595757;
}

.col-auto {
    /* box-shadow: 0 0 20px 0px #000000a3; */
    border-radius: 5px;
    padding: 5px 0;
    display: flex;
    margin: 0 5px;
    justify-content: center;
}

.W {
    background-image: url('images/tom1.png');
}

.A {
    background-image: url('images/tom2.png');
}

.S {
    background-image: url('images/tom3.png');
}

.D {
    background-image: url('images/tom4.png');
}

.J {
    background-image: url('images/snare.png');
}

.K {
    background-image: url('images/kick.png');
}

.L {
    background-image: url('images/crash.png');
}

::selection {
    background-color: transparent;
    color: aquamarine;
}
